<aside class="sidebar" style="margin: 0;">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" #sidebarMenu>
    <li *ngIf="hasPermission('Dashboard')" [ngClass]="{'active': isActive('/admin/home')}">
      <a [routerLink]="['/admin/home']">
        <i class="fas fa-home"></i> Dashboard
      </a>
    </li>

    <li *ngIf="hasPermission('Individual User')" [ngClass]="{'active': isActive('/admin/dashboard')}">
      <a [routerLink]="['/admin/dashboard']">
        <i class="fas fa-users"></i> Individual Users
      </a>
    </li>

    <li *ngIf="hasPermission('Business User')" [ngClass]="{'active': isActive('/admin/business-users')}">
      <a [routerLink]="['/admin/business-users']">
        <i class="fas fa-building"></i> Business User
      </a>
    </li>

    <li *ngIf="hasPermission('Category')" [ngClass]="{'active': isActive('/admin/categories')}">
      <a [routerLink]="['/admin/categories']">
        <i class="fas fa-id-card"></i> Category
      </a>
    </li>

    <li *ngIf="hasPermission('Wallet')" [ngClass]="{'active': isActive('/admin/wallet')}">
      <a [routerLink]="['/admin/wallet']">
        <i class="fas fa-wallet"></i> Wallet
      </a>
    </li>

    <!-- <li *ngIf="hasPermission('Virtual Wallet')" [ngClass]="{'active': isActive('/virtualwallet')}">
      <a [routerLink]="['/virtualwallet']">
        <i class="fas fa-wallet"></i> Virtual Wallet
      </a>
    </li> -->
    <li *ngIf="hasPermission('Customer Transfer Fund')" [ngClass]="{'active': isActive('/admin/fund/transfer')}">
      <a [routerLink]="['/admin/fund/transfer']">
        <i class="fas fa-credit-card"></i> Customer Transfer Fund
      </a>
    </li>
    <li *ngIf="hasPermission('Card')" [ngClass]="{'active': isActive('/admin/cards')}">
      <a [routerLink]="['/admin/cards']">
        <i class="fas fa-door-closed"></i> Card
      </a>
    </li>

    <li *ngIf="hasPermission('Transfer History')" [ngClass]="{'active': isActive('/admin/fund/transfer-history')}">
      <a [routerLink]="['/admin/fund/transfer-history']">
        <i class="fas fa-credit-card"></i> Transfer History
      </a>
    </li>
    <li *ngIf="hasPermission('Customer Purchase Transaction History')" [ngClass]="{'active': isActive('/prefundtransfer')}">
      <a [routerLink]="['/admin/fund/prefund-transfer']">
        <i class="fas fa-list-alt"></i>Customer Purchase Transaction History
      </a>
    </li>


    <li *ngIf="hasPermission('Settings')" class="dropdown" [ngClass]="{'active': isDropdownOpen}">
      <a href="#" (click)="toggleDropdown($event)">
        <i class="fas fa-cog"></i> Settings
        <i class="fas fa-caret-down dropdown-icon" [ngClass]="{'open': isDropdownOpen}"></i>
      </a>
      <ul class="sidebar-menu dropdown-menu" *ngIf="isDropdownOpen">
        <li [ngClass]="{'active': isActive('/admin/roles/assign')}">
          <a [routerLink]="['/admin/roles/assign']">
            <i class="fas fa-id-card"></i> Roles
          </a>
        </li>
        <li [ngClass]="{'active': isActive('/admin/users')}">
          <a [routerLink]="['/admin/users']">
            <i class="fas fa-users"></i> Users
          </a>
        </li>
        <li  [ngClass]="{'active': isActive('/admin/partner-code')}">
          <a [routerLink]="['/admin/partner-code']">
            <i class="fas fa-code"></i> Partner Code
          </a>
        </li>
        <li  [ngClass]="{'active': isActive('/admin/topup')}">
          <a [routerLink]="['/admin/topup']">
            <i class="fas fa-wallet"></i>Master Top up
          </a>
        </li>
        <li  [ngClass]="{'active': isActive('/admin/fund/master-transfer')}">
          <a [routerLink]="['/admin/fund/master-transfer']">
            <i class="fas fa-wallet"></i>Master to Master Transfer
          </a>
        </li>
          <li  [ngClass]="{'active': isActive('/admin/ip-address/add')}">
          <a [routerLink]="['/admin/ip-address/add']">
            <i class="fas fa-wallet"></i>Add Mac Address
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Sidebar Footer -->
  <div class="sidebar-footer">
    <!-- <a class="profile" (click)="openProfile()"><i class="fas fa-user"></i> Profile</a> -->
    <a (click)="logout()" class="logout">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </div>
</aside>
