<!-- Loader HTML -->
<app-adminsidebar></app-adminsidebar>
<app-topbar></app-topbar>

<div *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>

<!-- Main Content -->
<div *ngIf="!isLoading" class="main-content app-content">
    <!-- Cards Actions Section -->
    <div class="cards-actions">
        <div class="user-section">
            <h2><i class="fa-solid fa-earth-americas"></i>Country Permission List</h2>
        </div>

        <div class="filter-export-buttons">
            <div class="search-container">
                <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" >
                <button class="btn btn-primary mb-1" (click)="filterCurrencies()">
                    <i class="fas fa-search"></i> SEARCH
                </button>
            </div>
            <button class="btn btn-primary mb-1" (click)="exportToExcel()">
                <i class="fas fa-file-export"></i> EXPORT
            </button>
            <button class="btn btn-info btn-raised-shadow mb-1" (click)="showAddPermissionModal = true">
                <i class="fas fa-plus"></i> ADD PERMISSIONS
            </button>

            <!-- Add Category Modal -->
            <app-add-permission-modal *ngIf="showAddPermissionModal"
                                    (currencyAdded)="handleCategoryAdded($event)"
                                    (modalClosed)="showAddPermissionModal = false">
            </app-add-permission-modal>
        </div>


        <div class="results-info">
  <i class="fas fa-info-circle" style="margin-right: 6px;"></i>
  Displaying <strong>{{ filteredCategories.length }}</strong> result(s) for the: <strong>All Time</strong>
</div>

        <!-- Cards Data Table -->
        <div class="table-container">
            <table class="cards-table">
                <thead>
                    <tr>
                        <th>Permission</th>
                         <th>Country Name</th>
                        <th>Target Country Name</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of paginatedCategories">
                        <td>{{category.name || 'NA'}}</td>
                        <td>{{category.code || 'NA'}}</td>
                       <td>{{category.name || 'NA'}}</td>
                        <td>{{category.code || 'NA'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="card-body">
                                    <div #gridContainer></div>
         </div> -->
        
        <!-- Pagination Controls -->
        <div class="pagination">
            <button class="btn btn-primary btn-sm mb-1"(click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
                <i class="fas fa-chevron-left"></i> BACK
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button class="btn btn-primary btn-sm mb-1" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
                NEXT <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>