.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set to full viewport height */
  }
  

svg{
    width: 200px;
    height: 200px;
    display:inline-block;
    padding:0px;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

.circle {
    fill: transparent;
    stroke: #55acee;
    stroke-width:3px;
    -webkit-animation: 1.5s circle infinite ease-in;
    animation: 1.5s circle infinite ease-in;
}

@keyframes circle {
  0% {
    stroke-dasharray:0 400;
    stroke-dashoffset: 0;
  }
  25%{
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray:400 400;
    stroke-dashoffset: -400;
  }
}

@-webkit-keyframes circle {
  0% {
    stroke-dasharray:0 400;
    stroke-dashoffset: 0;
  }
  25%{
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray:400 400;
    stroke-dashoffset: -400;
  }
}